<div id='pstEl' data-id='{{post.id}}'>
  <h2 id='pstTitle' data-title='{{post.title}}'>{{post.title}}</h2>
  <p class="byline">Posted by {{post.user.name}} on {{format_date post.date_created}}</p>
  <p id='pstText'>{{post.text}}</p>
  <div class="alignRight">
    {{#if (eq thisUser post.user_id)}}
      <button id='updPstBtn'>Update</button>
      <button id='delPstBtn'>Delete</button>
    {{else}}
      <button id='delPstBtn' style='visibility: hidden;'>Delete</button>
    {{/if}}
  </div>
</div>
<hr>

{{#if logged_in}}
  <div>
    <h3>New Comment</h3>
    <form id='newCmtFrm' data-id='{{post.id}}'>
      <div>
        <textarea id='cmtTxt' name='cmtTxt'></textarea>
      </div>
      <div>
        <button type='submit'>Post</button>
      </div>
    </form>
  </div>
  <div>
    {{> comment comments = comments}}
  </div>
{{/if}}

<script src='/js/post.js'></script>
<script src='/js/comment.js'></script>