<div id='postEl' class='text-left' data-id='{{post.id}}' data-title='{{post.title}}' data-text='{{post.text}}'>
  <h2 id='post-title'>{{post.title}}</h2>
  <p>Posted by {{post.user.name}} on {{format_date post.date_created}}</p>
  <p id='post-text'>{{post.text}}</p>
  {{#if (eq thisUser post.user_id)}}
    <button class='btn btn-sm' id='updPstBtn'>Update</button>
    <button class='btn btn-sm btn-danger' id='delPstBtn'>Delete</button>
    {{!-- <button class='btn btn-sm' data-id='{{post.id}}' id='updPstBtn'>Update</button>
    <button class='btn btn-sm btn-danger' data-id='{{post.id}}' id='delPstBtn'>Delete</button> --}}
  {{else}}
    <button class='btn btn-sm btn-danger' id='delPstBtn' style='visibility: hidden;'>Delete</button>
    {{!-- <button class='btn btn-sm btn-danger' data-id='{{post.id}}' id='delPstBtn' style='visibility: hidden;'>Delete</button> --}}
  {{/if}}
</div>

{{#if logged_in}}
  <div>
    <h3>New Comment</h3>
    <form class='form new-comment-form' data-id='{{post.id}}'>
      <div class='form-group'>
        <textarea class='form-input' id='comment-text' name='comment-text'></textarea>
      </div>
      <div class='form-group'>
        <button type='submit' class='btn btn-primary'>Post</button>
      </div>
    </form>
  </div>
  <div>
    {{> comment comments = comments}}
  </div>
{{/if}}

<script src='/js/post.js'></script>
<script src='/js/comment.js'></script>
<script src='/js/update.js'></script>