{{!-- the commented statement below creates an update button. I've commented it out until I can get the function to work. --}}
<div class='text-left'>
  <h2>{{post.title}}</h2>
  <p>Posted by {{post.user.name}} on {{format_date post.date_created}}</p>
  <p>{{post.text}}</p>
  {{#if (eq thisUser post.user_id)}}
    {{!-- <button class='btn btn-sm btn-danger' data-id='{{post.id}}' id='loadUpdPage'>Update</button> --}}
    <button class='btn btn-sm btn-danger' data-id='{{post.id}}' id='delPstBtn'>Delete</button>
  {{else}}
    <button class='btn btn-sm btn-danger' data-id='{{post.id}}' id='delPstBtn' style='visibility: hidden;'>Delete</button>
  {{/if}}
</div>
{{#if logged_in}}
  <div>
    <h3>New Comment</h3>
    <form class='form new-comment-form' data-id='{{post.id}}'>
      <div class='form-group'>
        <textarea class='form-input' id='comment-text' name='comment-text'></textarea>
      </div>
      <div class='form-group'>
        <button type='submit' class='btn btn-primary'>Post</button>
      </div>
    </form>
  </div>
  <div>
    {{> comment comments = comments}}
  </div>
{{/if}}

<script src='/js/dashboard.js'></script>